<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Create a new Listing</h3>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="Enter title" type="text" required><br />
        <textarea name="listing[description]" placeholder="Enter description"></textarea><br />

        <input name="listing[image][filename]" placeholder="Enter filename" type="text"><br />
        <input name="listing[image][url]" placeholder="Enter image URL" type="text"><br />

        <input name="listing[price]" placeholder="Enter price" type="number"><br />
        <input name="listing[country]" placeholder="Enter country" type="text"><br />
        <input name="listing[location]" placeholder="Enter location" type="text"><br />
        
        <button type="submit">Add</button>
    </form>
</body>
</html>
